<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ukázka template</title>
</head>
<body>
   

    <h2>Výpis PHP proměnné </h2>
    <p>{$items2}</p>

    <h2>Výpis pole hodnot</h2>
    {foreach $items1 as $item}
        <p>{$item}</p>
    {/foreach}

    <h2>Výpis pole hodnot pomocí n:atribut;</h2>
    <p n:foreach="$items1 as $item">{$item}</p>

    <h2>Použití podmínek - výpis hodnoty "two" barevně</h2>
    {foreach $items1 as $item}
        {if $item=="two"}
            <p style="color:red">{$item}</p>
        {else}
            <p>{$item}</p>
        {/if}
    {/foreach}

    <h2>Podmínky</h2>
    <p>Úkol: Vypište dle hodnoty proměnné $ovoce alkoholický nápoj, který se z něj vyrábí (jablko,švestka,hruška)</p>
   

    <h2>Ternární operátor</h2>
    <p>Úkol: Vypište dle hodnoty proměnné $rezervace větu Rezervováno nebo Volné k pronájmu</p>
  

    <h2>Cyklus Foreach</h2>
    <p>Úkol: Vypište pole $objednávka jako HTML seznam</p>

    <h2>Cyklus For</h2>
    <p>Úkol: Vypište první tři položky pole $objednávka jako HTML seznam (formát výpisu - 1. položka 2.položka atd.)</p>
    
    <h2>Bloky</h2>
    <p>Úkol: Vytvořte blok HTML kódu a použijte na jiném místě šablony</p>
    
</body>
</html>


